<!DOCTYPE html>
<html>
<header>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .fixed_sitemap {
            padding: 28px 0 0;
        }

        .sitemap {
            margin-left: -12px;
        }

        .sitemap_con {
            flex-basis: 190px;
            flex-grow: 0;
            flex-shrink: 0;
            height: 190px;
            margin-left: 12px;
            margin-bottom: 12px;
        }

        .sitemap_con {
            line-height: 25px;
        }

        .sitemap_con a {
            display: inline-block;
            width: 52px;
            margin-left: 20px;
            white-space: nowrap;
        }

        a {
            color: #404040;
        }

        a {
            text-decoration: none;
        }

        .sitemap_con strong {
            margin: 6px 0 0 12px;
        }

        .sitemap_con strong {
            display: block;
            margin: 12px 0 0 20px;
            font-size: 16px;
        }

        .sitemap_con {
            line-height: 28px;
            background: #e8e8e8;
        }

        .sitemap_con strong a {
            width: auto;
            margin-left: 0;
        }
    </style>
</header>

<body>
    <div class="container-fluid">
        <div class="d-flex flex-wrap">
            <div class="sitemap_con">
                <strong>
                    <a href="https://news.163.com/#f=endnav">新闻</a>
                </strong>
                <a href="http://news.163.com/domestic/#f=endnav">国内</a>
                <a href="http://view.163.com/#f=endnav">评论</a>
                <a href="http://news.163.com/world/#f=endnav">国际</a>
                <a href="http://discovery.163.com/#f=endnav">探索</a>
                <a href="http://war.163.com/#f=endnav">军事</a>
                <a href="http://news.163.com/photo/#f=endnav">图片</a>
                <a href="http://news.163.com/localnews/" class="js-localsite-link">本地新闻</a>
                <a href="http://news.163.com/special/wangsansanhome/">王三三</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://sports.163.com/#f=endnav">体育</a>
                </strong>
                <a href="http://sports.163.com/nba/#f=endnav">NBA</a>
                <a href="http://sports.163.com/cba/#f=endnav">CBA</a>
                <a href="http://sports.163.com/allsports/#f=endnav">综合</a>
                <a href="http://sports.163.com/zc/#f=endnav">中超</a>
                <a href="http://sports.163.com/world/#f=endnav">国际足球</a>
                <a href="http://sports.163.com/yc/#f=endnav">英超</a>
                <a href="http://sports.163.com/xj/#f=endnav">西甲</a>
                <a href="http://sports.163.com/yj/#f=endnav">意甲</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://ent.163.com/#f=endnav">娱乐</a>
                </strong>
                <a href="http://ent.163.com/star/#f=endnav">明星</a>
                <a href="http://ent.163.com/photo/#f=endnav">图片</a>
                <a href="http://ent.163.com/movie/#f=endnav">电影</a>
                <a href="http://data.ent.163.com/#f=endnav">资料库</a>
                <a href="http://ent.163.com/tv/#f=endnav">电视</a>
                <a href="http://music.ent.163.com/">音乐</a>
                <a href="http://live.ent.163.com/?f=163.homeEndNav">薄荷直播</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://money.163.com/#f=endnav">财经</a>
                </strong>
                <a href="http://money.163.com/stock/#f=endnav">股票</a>
                <a href="http://quotes.money.163.com/?from=163end">行情</a>
                <a href="http://money.163.com/chanjing/#f=endnav">产经</a>
                <a href="http://money.163.com/ipo/#f=endnav">新股</a>
                <a href="http://money.163.com/finance/#f=endnav">金融</a>
                <a href="http://money.163.com/fund/#f=endnav">基金</a>
                <a href="http://biz.163.com/#f=endnav">商业</a>
                <a href="http://money.163.com/licai/#f=endnav">理财</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://auto.163.com/#f=endnav">汽车</a>
                </strong>
                <a href="http://auto.163.com/buy/#f=endnav">购车</a>
                <a href="http://auto.163.com/depreciate/#f=endnav">行情</a>
                <a href="http://product.auto.163.com/finder/#f=endnav">选车</a>
                <a href="http://product.auto.163.com/#f=endnav">车型库</a>
                <a href="http://club.auto.163.com/#f=endnav">论坛</a>
                <a href="http://auto.163.com/news/#f=endnav">行业</a>
                <a href="http://auto.163.com/chezhu#f=endnav">用车</a>
                <a href="http://auto.163.com/photo/#f=endnav">汽车图片</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://tech.163.com/#f=endnav">科技</a>
                </strong>
                <a href="http://tech.163.com/telecom/#f=endnav">通信</a>
                <a href="http://tech.163.com/it/#f=endnav">IT</a>
                <a href="http://tech.163.com/internet/#f=endnav">互联网</a>
                <a href="http://tech.163.com/special/ydhlw/#f=endnav">移动互联网</a>
                <a href="http://tech.163.com/special/chzt/#f=endnav">特别策划</a>
                <a href="http://tech.163.com/special/wudaokou/#f=endnav">五道口沙龙</a>
                <a href="http://tech.163.com/special/yyzd/#f=endnav">易语中的</a>
                <a href="http://tech.163.com/special/#f=endnav">专题</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://lady.163.com/#f=endnav">女人</a>
                </strong>
                <a href="http://baby.163.com/#f=endnav">亲子</a>
                <a href="http://fashion.163.com/art#f=endnav">艺术</a>
                <a href="http://fashion.163.com/#f=endnav">时尚</a>
                <a href="http://shoucang.163.com/#f=endnav">收藏</a>
                <a href="http://lady.163.com/sense/#f=endnav">情感</a>
                <a href="http://lady.163.com/astro/#f=endnav">星座</a>
                <a href="http://lady.163.com/beauty/#f=endnav">美容</a>
                <a href="http://cosmetic.lady.163.com/trial/#f=endnav">免费试用</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://mobile.163.com/#f=endnav">手机</a>/
                    <a href="http://digi.163.com/#f=endnav">数码</a>
                </strong>
                <a href="http://mobile.163.com/mi/#f=endnav">移动</a>
                <a href="http://digi.163.com/pc/#f=endnav">电脑</a>
                <a href="http://product.mobile.163.com/#f=www_endnav">手机库</a>
                <a href="http://hea.163.com/#f=endnav">家电</a>
                <a href="http://club.tech.163.com#f=endnav">手机论坛</a>
                <a href="http://digi.163.com/smart/#f=endnav">智能硬件</a>
                <a href="http://digi.163.com/dc/#f=endnav">相机</a>
                <a href="http://v.mobile.163.com/#f=endnav">手机视频</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://house.163.com/#f=endnav">房产</a>/
                    <a href="http://home.163.com/#f=endnav">家居</a>
                </strong>
                <a href="http://bj.house.163.com/#f=endnav">北京房产</a>
                <a href="http://sh.house.163.com/#f=endnav">上海房产</a>
                <a href="http://gz.house.163.com/#f=endnav">广州房产</a>
                <a href="http://house.163.com/city/#f=endnav">全部分站</a>
                <a href="http://xf.house.163.com/#f=endnav">楼盘库</a>
                <a href="http://home.163.com/jiaju/#f=endnav">家具</a>
                <a href="http://home.163.com/weiyu/#f=endnav">卫浴</a>
                <a href="http://home.163.com/special/jiajuyigui/#f=endnav">衣柜</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://travel.163.com/#f=endnav">旅游</a>
                </strong>
                <a href="http://travel.163.com/outdoor/#f=endnav">户外</a>
                <a href="http://guizhou.travel.163.com/#f=endnav">贵州</a>
                <a href="http://travel.163.com/food/#f=endnav">美食</a>
                <a href="http://jingdian.travel.163.com/domestic/1000066937/#f=endnav">四川</a>
                <a href="http://jingdian.travel.163.com/#f=endnav">景点</a>
                <a href="http://jingdian.travel.163.com/domestic/1000066944/#f=endnav">新疆</a>
                <a href="http://travel.163.com/special/travellist/#f=endnav">专题</a>
                <a href="http://jingdian.travel.163.com/domestic/1000066926/#f=endnav">西藏</a>
            </div>
            <div class="sitemap_con">
                <strong>
                    <a href="http://edu.163.com/#f=endnav">教育</a>
                </strong>
                <a href="http://edu.163.com/yimin/#f=endnav">移民</a>
                <a href="http://edu.163.com/kaoyan/#f=endnav">考研</a>
                <a href="http://edu.163.com/liuxue/#f=endnav">留学</a>
                <a href="http://edu.163.com/special/official/#f=endnav">公务员</a>
                <a href="http://edu.163.com/en/#f=endnav">外语</a>
                <a href="http://kids.163.com/#f=endnav">中小学</a>
                <a href="http://edu.163.com/gaokao/#f=endnav">高考</a>
                <a href="http://daxue.163.com/#f=endnav">校园</a>
            </div>
        </div>
    </div>
</body>

</html>